@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

main>h1 {
    text-align: center;
    padding: 1.5% 0;
    text-decoration: underline;
    text-underline-offset: 3px;
    letter-spacing: 2px;
}

#gridSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 5% 5% 0 5%;
}

article {
    border: 5px solid brown;
    background: beige;
    border-radius: 10px;
}

section>div {
    padding: .5% 0%;
}

section>input {
    padding: .8% 2%;
    margin: 1% 0 0 0;
    background: none;
    border-radius: 10px;
    border: 1px solid black;
}

article h1 {
    text-align: center;
    padding: 3% 0 0 0;
}

article div img {
    display: block;
    margin: 0 auto;
}

.powerEndurance,
.elementPart {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
}

.elementPart p:nth-of-type(1) {
    border: 1px solid black;
    color: darkgreen;
}

.elementPart p:nth-of-type(2) {
    border: 1px solid black;
    color: crimson;
}

.specialAttack {
    text-align: center;
    padding: 2% 0;
}

.inputContainer {
    text-align: center;
}